/* .my-image {
  animation: scale-up linear forwards;
  animation-timeline: view();
  animation-range: exit -200px;
  border: 1px yellow solid;
}

@keyframes scale-up {
  25% { opacity: 1 }
  85%, 100% { opacity: 0; scale: 3 }
} */