<div class="relative flex flex-col h-screen w-full justify-center items-center">
  <div class="overflow-clip">
    <div class="w-96 h-96 overflow-hidden rounded-full my-image">
      <img src="assets/me.jpeg" class="my-image relative bottom-32" />
    </div>
  </div>
  <div class="text-center">
    <h1 class="text-3xl font-extrabold ">Gastón Mastrapasqua</h1>
    <div class="typing-effect">
      <h2 class="font-thin overflow-hidden whitespace-nowrap font-mono">
        <span class="subtitle"></span>
        <span class="cursor">|</span>
      </h2>
    </div>
  </div>
</div>
