<div class="bg-sky-300 dark:bg-gray-950 w-full h-screen flex flex-col">
	<h1 routerLink="home" class="w-full text-center pt-2 text-3xl cursor-pointer">Mastra</h1>
	<div class="h-full flex flex-col justify-between">
		<section>
			<ul class="p-3">
				<li><a routerLink="home">About me</a></li>
				<li><a routerLink="studies">Studies</a></li>
				<li><a routerLink="knowledge">Knowledge</a></li>
				<li><a routerLink="experience">Experience</a></li>
				<li><a routerLink="projects">Projects</a></li>
			</ul>
		</section>
		<div class="flex justify-center">
			<label class="inline-flex items-center cursor-pointer">
				<input type="checkbox" value="" class="sr-only peer" [checked]="darkmodeEnabled()" (click)="toggleDarkmode()">
				<div class="relative w-14 h-7 bg-gray-200 peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-blue-300 dark:peer-focus:ring-blue-800 rounded-full peer dark:bg-gray-700 peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-0.5 after:start-[4px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-6 after:w-6 after:transition-all dark:border-gray-600 peer-checked:bg-blue-600"></div>
			</label>
		</div>
	</div>
</div>
